<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        p.item {
            padding: 16px;
            text-align: center;
            border-radius: 8px;
            color: white;
            background-color: green;
        }
    </style>
</head>

<body class="bg-secondary">

    <h3 class="text-center my-5 text-light">Account Registration</h3>

    <!-- buộc toàn bộ dòng và cột phải bỏ trong class container -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-5">
                <div class="border p-3 rounded bg-light">
                    <form method="POST">
                        <div class="form-group">
                            <label for="user">Fullname</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                                </div>
                                <input id="name" type="text" class="form-control" placeholder="Your Name" name="name" value="<%= name %>">
                            </div>

                            <div class="form-group">
                                <label for="user">Email</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                    <i class="fas fa-envelope-open"></i>
                  </span>
                                    </div>
                                    <input id="email" type="text" class="form-control" placeholder="Email" name="email" value="<%= email %>">
                                </div>

                                <div class="form-group">
                                    <label for="user">Telephone</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                      <i class="fas fa-mobile-alt"></i>
                    </span>
                                        </div>
                                        <input id="tel" type="text" class="form-control" placeholder="Your telephone" name="tel" value="<%= email %>">
                                    </div>


                                    <div class="form-group">
                                        <label for="user">Day of bitrh</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                            <i class="fas fa-birthday-cake"></i>
                                          </span>
                                            </div>
                                            <input id="birh" type="date" class="form-control" name="birth" value="<%= email %>">
                                        </div>


                                        <div class="form-group">
                                            <label for="user">Address</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                <i class="fas fa-address-card"></i>
                                              </span>
                                                </div>
                                                <input id="address" type="text" class="form-control" placeholder="Address" name="address" value="<%= email %>">
                                            </div>


                                            <div class="form-group">
                                                <label for="user">Font Of ID Card</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                  <i class="fas fa-camera-retro"></i>
                                                </span>
                                                    </div>
                                                    <input id="fontid" type="file" class="form-control" name="fontid" value="<%= email %>">
                                                </div>


                                                <div class="form-group">
                                                    <label for="user">Back Side Of ID Card</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                    <i class="fas fa-camera-retro"></i>
                                                  </span>
                                                        </div>
                                                        <input id="backid" type="file" class="form-control" name="backid" value="<%= email %>">
                                                    </div>

                                                </div>

                                                <!--
                                    <div class="form-group">
                                        <label for="pass">Password</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="Password" id="password" name="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pass">Confirm Password</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="Password" id="confirm-password" name="confirm-password">
                                        </div>
                                    </div>

                                  -->
                                                <div class="form-group">
                                                    <% if(error.length > 0) { %>
                                                        <div class="alert alert-danger alert-dismissible fade show">
                                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                            <%= error %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-success px-5" type="submit">Register</button>
                                                </div>
                                                <div class="form-group">
                                                    <p>Already have an account? <a href="./login">Login now!</a></p>
                                                </div>
                    </form>
                    </div>
                    </div>
                    </div>
                    </div>


</body>

</html>